        body {
    font-family: "Oswald", sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    background-color: black;
  }

      header {
        justify-content: center;
      }

      nav {
        position: absolute;
        top: 20px;
        width: 100%;
        text-align: center;
        z-index: 10;
      }
      nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
      }
      nav ul li {
        margin: 0 15px;
      }
      nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
      }
      .hero {
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        overflow: hidden;
      }

      .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("img/tattoo1.jpg") no-repeat center center/cover;
        filter: brightness(24%);
        z-index: -1;
        opacity: 0.4;
      }
      .hero h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
      .hero span {
        font-style: 'Dancing Script', cursive;
        font-size: 40px;
      }
      #sobre {
        padding: 50px;
        text-align: left;
      }
      #sobre h2 {
        font-size: 100px;
        margin-bottom: 30px;
        color: #fff;
        opacity: 0.5;
      }
      #sobre p {
        font-size: 24px;
        max-width: 800px;
      }
      .fotosTattoo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 30px;
      }
      .fotosTattoo img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }

      .container {
        padding: 50px;
        background-color: #621ad2;
      }

      .container-art{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        background-color: #121212;
      }
      .contato {
        font-family: "Oswald", sans-serif;
        font-size: 100px;
        text-transform: uppercase;
        color: #310c77;
        padding-right: 500px;
        margin-bottom: -20px;
      }
      .fale {
        font-size: 70px;
        font-family: "Oswald", sans-serif;
        padding-right: 250px;
        margin-top: -20px;
        margin-bottom: -10px;
      }
      .conosco {
        font-size: 80px;
        font-family: "Oswald", sans-serif;
        color: #310c77;
        padding-left: 100px;
        padding-left: 0;
        margin-top: -20px;
      }
      .info {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
      }
      .info div {
        text-align: left;
      }
      .social {
        margin-top: 50px;
      }
      .social a {
        color: white;
        font-weight: bold;
        margin: 0 10px;
        text-decoration: none;
      }
      .container2 {
<<<<<<< HEAD


=======
        display: flex;
        width: 100vw;
        height: 100vh;
      }
      .metade-esquerda {
        width: 50%;
        height: 100%;
        background-color: black;
      }
      .metade-direita {
        width: 50%;
        height: 100%;
        background-color: black;
>>>>>>> 33136b89d80e703b609d98af828771ff42f5a6b4
      }

      .form {
        font-family: "Oswald", sans-serif;
        font-size: 100px;
        text-transform: uppercase;
        color: #d9d9d9;
        padding: 25px;
      }
      .input-container {
        margin-top: 100px;
      }
      .input-container input {
        width: 80%;
        max-width: 400px;
        outline: none;
        padding: 10px;
        border: 2px solid red;
        background-color: black;
        font-size: 16px;
        text-align: center;
        color: #ffffff;

      }
      .input-container input::placeholder {
        color: white;
        opacity: 0.7;
      }

      .button-container {
        margin-top: 30px;
      }
      .button-container button {
        width: 80%;
        max-width: 330px;
        padding: 10px;
        border: 2px solid red;
        background-color: black;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        font-size: 15px;
        font-family: "Oswald", sans-serif;
      }
      .container3 {
        background-color: black;

        width: 100vw;
        height: 100vh;
      }
      .faq {
        font-family: "Oswald", sans-serif;
        font-size: 100px;
        text-transform: uppercase;
        color: #d9d9d9;
        padding-right: 900px;
      }
      .principais {
        font-size: 70px;
        font-family: "Oswald", sans-serif;
        padding-right: 250px;
        margin-top: -20px;
        margin-bottom: -10px;
      }
      .perguntas {
        font-size: 80px;
        font-family: "Oswald", sans-serif;
        color: #310c77;
        padding-left: 100px;
        padding-left: 0;
        margin-top: -20px;
      }
      .button {
        width: 50px;
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        color: #310c77;
        background-color: transparent;
        border: 2px solid red;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
      }

      .button:hover {
        background-color: red;
        color: white;
      }

      .lista {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }

      .lista1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .title {
        font-size: 22px;
        font-weight: bold;
      }

      .subtitle {
        color: #621ad2;
        font-size: 18px;
        margin-top: 10px;
      }
      .description {
        font-size: 14px;
        color: #aaa;
        margin-top: 10px;
        max-width: 500px;
      }

      .number {
        color: #621ad2;
        font-size: 14px;
      }

      .container4 {
        padding-left: 300px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .column {
        flex: 1;
        max-width: 50%;
        box-sizing: border-box;
      }
      .column1 {
        flex: 1;
        max-width: 50%;
        box-sizing: border-box;
      }
      .item {
        color: #621ad2;
        font-family: "Oswald", sans-serif;
        font-size: 15px;
      }
      .input-faq {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        margin: 4px 0;
      }
      .input-faq {
        margin-top: 100px;
      }
      .input-faq input {
        width: 100%;
        max-width: 400px;
        outline: none;
        padding: 10px;
        border: 2px solid rgb(0, 0, 0);
        background-color: black;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
      }
      .input-faq input::placeholder {
        color: white;
        opacity: 0.7;
      }

      .input-faq1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        margin: 4px 0;
      }
      .input-faq1 {
        margin-top: 100px;
      }
      .input-faq1 input {
        width: 100%;
        max-width: 400px;
        outline: none;
        padding: 10px;
        border: 2px solid rgb(0, 0, 0);
        background-color: black;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
      }
      .input-faq1 input::placeholder {
        color: #621ad2;
        opacity: 0.7;
      }
  section {
            padding: 50px;
          }

          .section-container {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          h2 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
            color: #310c77;
          }

          .container {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
          }

          .card-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }

          .card {
            background-color: #000000;
            padding: 20px;
            width: 250px;
          }

          .card img {
            width: 100%;
            height: auto;
          }

          .card-title,
          .card-description {
            margin-top: 10px;
            font-weight: bold;
            text-align: center;
          }

          .button {
            background-color: rgb(0, 0, 0);
            color: white;
            padding: 10px;
            border: 2px solid red;
            cursor: pointer;
            margin-top: 10px;
            transition: background-color 0.3s;
          }

          .button:hover {
            background-color: red;
          }


          a:hover{
            color: red;
          }

          .review-section {
            background-color: #121212;
            padding: 50px;
          }

          .review-card {
            background-color: #000000;
            padding: 20px;
            border: 4px solid red;
            position: relative;
            color: white;
          }

          .review-card::before {
            content: "“";
            font-size: 48px;
            color: red;
            display: block;
            text-align: left;
          }

          .review-card .author {
            margin-top: 10px;
            border-top: 2px solid red;
            padding-top: 5px;
            font-size: 14px;
            text-align: left;
            font-weight: bold;
          }

          .service-card {
            background-color: #000000;
            padding: 20px;
            border-top: 4px solid red;
            border-bottom: 4px solid red;
            text-align: center;
            color: #d9d9d9;
          }

          /* MODAL */
          .modal {
            display: none;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.8);
            justify-content: center;
            align-items: center;
            padding: 20px;
          }

          .modal-content {
            background-color: #000000;
            padding: 30px;
            border: 2px solid red;
            width: 90%;
            max-width: 700px;
            border-radius: 12px;
            color: white;
            box-shadow: 0 0 20px red;
            position: relative;
            text-align: center;
            animation: fadeIn 0.4s ease-in-out;
          }

          .modal-content h2 {
            color: white;
            opacity: 0.5;
            font-size: 32px;
            margin-bottom: 10px;
          }

          .modal-content p {
            font-size: 16px;
            color: #aaa;
            margin: 5px 0;
          }

          .modal-content img {
            margin-top: 15px;
            max-width: 100%;
            height: auto;
            border: 2px solid #621ad2;
            border-radius: 8px;

          }

          .close {
            color: white;
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
            transition: color 0.3s;
          }

          .close:hover,
          .close:focus {
            color: red;
            text-decoration: none;
          }

          @keyframes fadeIn {
            from {
              opacity: 0;
              transform: scale(0.9);
            }
            to {
              opacity: 1;
              transform: scale(1);
            }
          }

          #artistas h2{
                  font-size: 100px;
                  margin-bottom: 30px;
                  color: #fff;
                  opacity: 0.5;
          }

          #reviews h2{
                  font-size: 100px;
                  margin-bottom: 30px;
                  color: #fff;
                  opacity: 0.5;
          }

          #servicos h2{
                  font-size: 100px;
                  margin-bottom: 30px;
                  color: #fff;
                  opacity: 0.5;
          }

                  .button_art {
                    font-family: "Oswald", sans-serif;
                    background-color: rgb(0, 0, 0);
                    color: white;
                    padding: 10px;
                    border: 2px solid red;
                    cursor: pointer;
                    margin-top: 10px;
                    transition: background-color 0.3s;
                  }

                  .button_art:hover {
                    background-color: red;
                  }

                  .section {
                    text-align: center;
                    margin: 50px 0;
                  }

                  .carousel-container {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }

                  .carousel {
                    display: flex;
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    gap: 20px;
                    padding: 20px;
                    max-width: 90%;
                  }

                  .card {
                    min-width: 250px;
                    background-color: #111;
                    color: white;
                    padding: 20px;
                    border-radius: 10px;
                    text-align: center;
                    flex-shrink: 0;
                    border-top: 2px solid red;
                    border-bottom: 2px solid red;
                  }

                  .review {
                    background-color: #222;
                  }

                  button.prev,
                  button.next {
                    background-color: transparent;
                    color: white;
                    border: none;
                    font-size: 30px;
                    cursor: pointer;
                    padding: 10px;
                  }

                  /* -- Modal -- */
                  .modal {
                    display: none;
                    position: fixed;
                    z-index: 999;
                    left: 0; top: 0;
                    width: 100%; height: 100%;
                    background: rgba(0,0,0,0.8);
                    justify-content: center;
                    align-items: center;
                  }

                  .modal-content {
                    background-color: #000000;
                    padding: 30px;
                    border-radius: 10px;
                    max-width: 500px;
                    text-align: center;
                  }

                  .modal .close {
                    position: absolute;
                    top: 20px; right: 30px;
                    font-size: 30px;
                    color: white;
                    cursor: pointer;
                  }
                  .description1 {
                          font-size: 18px;
                          color: #aaa;
                          margin-top: 10px;
                          max-width: 500px;
                          padding: 20px;

                        }
<<<<<<< HEAD

.container2 {
  position: relative;
  width: 100%;
  height: 100vh; /* Garante que a altura da tela seja ocupada */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header2 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 100px;
  color: #310c77;
  text-transform: uppercase;
}

.card-container2 {
  perspective: 1000px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100%; /* Garante que a área ocupe 100% da altura do container pai */
}


.card2 {
  width: 400px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  background-color: transparent;
  margin bottom: 200px;
}

.card2:hover {
  transform: rotateY(180deg);
}

.card-face2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.card-front2 {
  background-color: black;
  color: white;
}

.card-back2 {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.card-back2 img {
  width: 250px;
  height: auto;
}
    .button-container {

      }
      .button-container button {
        width: 120%;
        max-width: 330px;
        padding: 10px;
        border: 2px solid red;
        background-color: black;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        font-family: "Oswald", sans-serif;
        position: relative;
         top: -80px;
      }

      p {
         font-size: 18px;
              color: #aaa;
              margin-top: 10px;
              max-width: 500px;
      }
=======
.geforce {
    margin-top: 25px;
    padding: 20px;

}
.boxEsq {
    padding: 20px;
}
>>>>>>> 33136b89d80e703b609d98af828771ff42f5a6b4
